[submodule "s4s-edgeserverdb"]
	path = docker-builds/s4s-edgeserverdb
	url = https://github.com/RSNA/s4s-edgeserverdb.git
[submodule "token-introspector"]
	path = docker-builds/token-introspector
	url = https://github.com/sync-for-science/token-introspector
	branch = master
[submodule "docker-builds/reference-smart-stu3"]
	path = docker-builds/reference-smart-stu3
	url = https://github.com/sync-for-science/auth-proxy
[submodule "docker-builds/reference-data-load/sample-patients-stu3"]
	path = docker-builds/reference-data-load/sample-patients-stu3
	url = http://github.com/sync-for-science/sample-patients-stu3
[submodule "docker-builds/dcmrs-broker"]
	path = docker-builds/dcmrs-broker
	url = https://github.com/sync-for-science/dcmrs-broker
[submodule "docker-builds/s4s-fhir-broker"]
	path = docker-builds/s4s-fhir-broker
	url = https://github.com/sync-for-science/s4s-fhir-broker
